mysql-connector-python==8.3.0
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0

requests==2.31.0

seaborn==0.13.2
six==1.16.0
sympy==1.12
thop==0.1.1.post2209072238
torch==2.2.1
torchvision==0.17.1
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
ultralytics==8.1.29
urllib3==2.2.1
